*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Fira Code', monospace;
}

.wrapper{
    width: 100vw;
    height: 100vh;
}

.site-nav{
    background-color: #7F7F7F;
    height: 44px;
    display: grid;
    grid-template-columns: 40vw 40vw 20vw;
    text-align: center;
}

.nav-links{
    color: white;
    width: 8rem;
    height: 100%;
    font-size: 1rem;
    padding: 10px;
    text-decoration: none;
    border: 2px #373737;
}

.nav-links:hover{
    background-color: #919191;
}

.nav-links-active{
    background-color: #5f5f5f;
}

.login-dropdown{
    position: relative;
    display: inline-block;
}

.login-dropdown-content{
    display: none;
    position: absolute;
    background-color: #919191;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-height: 200px;
}


input[type=text], input[type=password]{
    width: 90%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    background-color: #5f5f5f;
    color: white;
    padding: 6px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
}

.game-section{
    height: calc(100% - 44px);
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.img-section{
    height: 100%;
    width: 100%;
}

.map-section{
    height: 100%;
    width: 100%;
}

.game-picture{
    width: 100%;
}

.map{
    height: 100%;
    width: 100%;
}

.login-dropdown:hover .login-dropdown-content{
    display: block;
}

.login-dropdown:hover .nav-link-login{
    background-color: #919191;
}

.map-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map{
    z-index: 0;
}

.guess-confirm-button-div{
    color: black;
    font-size: 1rem;
    width: 20%;
    text-decoration: none;
    z-index: 1;
    padding: 0;
    border: 2px #373737;
    position: absolute;
    bottom: 2vh;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#guess-button{
    height: 100%;
    width: 100%;
    padding: 8px;
    color: black;
    font-size: 1.5rem;
    border: 2px #373737;
    margin: 0;
    border-radius: 8px;
}

#guess_text {
    margin-left:5%;
}

.guess-time-div{
    width: 20%;
    z-index: 2;
    position: absolute;
    background-color: #373737;
    opacity: 0.8;
    top: 44px;
    border-radius: 8px;
}

#guess-time{
    color: white;
    text-align: center;
}